*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	}

.container
	{
	width:85%;
	margin:auto;
	}
	
	
.team-sec
	{
	background-color:#f6f9fe;	
	padding:40px 0;
	}

.head-sec
	{
	text-align:center;
	margin-bottom:20px;
	}
	
h5
	{
	font-size:13px;
    letter-spacing:1px;
    font-weight:700;
    padding:8px 20px;
    background:#e7f1fd;
    color:#106eea;
    display:inline-block;
    border-radius:50px;
	}
	
h1
	{
	margin:15px 0 0 0;
    font-size:32px;
    font-weight:700;
	}
	
span
	{
	color:#106eea;
	}
	
p
	{
	color:#444444;	
	margin:15px auto 0 auto;
    font-weight:500;
	margin-bottom:20px;
	line-height:1.5;
	}
.row

	{
	display:flex;
	}	
	
.img-sec
	{
	position:relative;
	width:285px;
	}

.member-img
	{
	height:265px;
	width:265px;
	}
	
.icon
	{
	position:absolute;
	bottom:23px;
	left:39px;
	}
	
.icon a
	{
	color:#fff;
	font-size:20px;
	background-color:rgba(16, 110, 234, 0.8);
	padding:8px;
	margin:0 4px;
	border-radius:4px;
	opacity:0;
	}
	
.footer-sec
	{
	background-color:#fff;
	padding:30px 15px;
	}

.col
	{
	width:25%;
	padding:10px;
	}
	
.col:hover .icon a
	{
	bottom:55px;
	opacity:1;
	}
	
.footer-sec h4
	{
	padding:10px;
	font-size:20px;
	}
.footer-sec span
	{
	color:#aaaaaa;
	padding:10px;
	}
	
	
		

	
	
	